@import url('https://fonts.googleapis.com/css?family=B612|Noto+Serif+SC');

html {
  background-color: #002fa7;

}

main {
  margin: 20px auto;
  padding: 10px;
  height: 700px;
  width: 700px;
  background-color: 002fa7;
  /* font-family: 'Noto Serif SC', serif; */
  font-family: 'B612', sans-serif;
  text-shadow: 1px 1px 1px black;

}

h1 {
  margin: 2% 0%;
  padding: 2.5% 0%;
  color: white;
  font-size: 1.5em;
}

h2 {
  margin: 0% 0%;
  padding: 1% 4%;
  color: white;
  font-size: 0.8em;
}

h2{
  font-size: 1.2em; 
  }

#title {
  text-align: left;
  background-color: 002fa7;
  height: 10%;
}

#game-view {
  /* border: solid 1px white; */
  margin: 0 auto;
  width: 90%;
  height: 70%;
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  grid-template-rows: 2fr 1fr 0.2fr;
  grid-gap: 20px;
}

#monitor {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  grid-template-rows: 4fr 4fr 4fr;
  background-color: 002fa7;
  /* border: solid 1px white; */
}

.room {
  border: solid 1px grey;
  /* margin: 0;
  padding: 0;
  height: auto;
  background-repeat: no-repeat;*/
  /* background-size: 100%;  */
  /* animation: play 0.8s steps(2) 2; */

}

@keyframes play {
  100% { background-position: -252px; }
}

#stack {
  /* border: solid 1px white; */
  background-color: #002fa7;
  overflow: hidden;
  /* position: absolute; */
}

#stack h2 {
  margin: 0% 0%;
  padding: 1% 4%;
  color: white;
  font-size: 0.8em;
  border-bottom: 1px solid white;
}
.cards-list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 36px; /* why this?? */
}

.cards-list li {
  /* border: solid 1px white; */
  /* border-bottom: 1px solid white; */
  color: white;
  list-style: none;
  font-size: .7em;
  padding: 0;
  margin: 2px;
}

#hand {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  background-color: #002fa7;
  height: auto;
  /* border: solid 1px black; */
  /* border: solid 1px black; */
}

.hand-card {
  border: solid 1px white;
  background-color: #002fa7;
  color: #fff;
  border-radius: 5px;
  padding: 20px 20px 70px;
  width: 50%;
  margin: auto;
  background-repeat: no-repeat center;
  background-size: 1%;
}

.hand-card:hover {
  border: solid 4px white;
}

.hand-card concealed {
  border: solid 1px white;
}

.card-back {
  background-repeat: no-repeat center;
  background-size: 1%;
}

#avatar {
  /* border: solid 1px white; */
}



#avatar img {
  /* background-repeat: no-repeat center; */
  /* background-size: 5%; */
  /* max-width:100%;
  max-height:100%; */
  height: 100%;
  width: 100%;
  /* background-size: 40%; */
}

#tip {
  /* border: solid 1px white; */
  color: white;
  padding: 2px;
}

.start-button,
.restart-button {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  color: #002fa7;
  font-size: 2em;
  height: 60vh;
  width: 90%;
  font-family: 'B612', sans-serif;
text-shadow: 1px 1px 1px black;

  /* text-decoration: none; */
  box-shadow: 10px 10px 1px black;
}
.start-button,
.restart-button:hover {
  background-color: #002fa7;
  color: white;
  /* border: none; */
  /* box-shadow: 10px 10px 860px; */
}
.start-button,
.restart-button:active {
  position: relative;
  top: 1px;
}
