@import url("https://fonts.googleapis.com/css?family=B612|Noto+Serif+SC");

html {
  background-color: #002fa7;
}

main {
  margin: 20px auto;
  padding: 10px;
  height: 700px;
  width: 700px;
  background-color: 002fa7;
  /* font-family: 'Noto Serif SC', serif; */
  font-family: "B612", sans-serif;
  text-shadow: 1px 1px 1px black;
}

h1 {
  margin: 2% 0%;
  padding: 2.5% 0%;
  color: white;
  font-size: 1.5em;
}

h2 {
  margin: 0% 0%;
  padding: 1% 4%;
  color: white;
  font-size: 0.8em;
}

h2 {
  font-size: 1.2em;
}

#title {
  text-align: left;
  background-color: 002fa7;
  height: 10%;
}

#game-view {
  /* border: solid 1px white; */
  margin: 0 auto;
  width: 90%;
  height: 70%;
  display: grid;
  grid-template-columns: .5fr 3fr;
  grid-template-rows: 2fr 1fr 0.2fr;
  grid-gap: 20px;
}

#monitor {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  grid-template-rows: 4fr 4fr 4fr;
  background-color: 002fa7;
  border: solid 1px white;
  background-repeat: no-repeat;
  background-size: 100%; 
  background-image: url("../img/monitor_bg.png");

}

@keyframes bounce {
  0%, 100% {
        transition-timing-function: cubic-bezier(ease-out);
                     transform: scale(1);
               transform-style: preserve-3d;
  }

  50% {
    transition-timing-function: cubic-bezier(ease-out);
    transform: scale(1.2);
               transform-style: preserve-3d;
  }


}


.room {
  /* border: solid 1px white; */
  /* margin: 0;
  padding: 0;
  height: auto;
  background-repeat: no-repeat;*/
  /* background-size: 100%;  */
  /* animation: play 0.8s steps(2) 2; */
  width: 100%;
  position:relative;
  overflow: hidden;
  /* animation: bounce .3s 1;
  transform-origin: center; */
}

.room-action {
  z-index: 1;
  /* top:0; */
  width: 200%; /*pending to fix animation*/
  position: absolute;
  animation: play 0.8s steps(2) 2;

}


@keyframes play {
  100% {
    background-position: -252px;
  }
}

#stack {
  /* border: solid 1px white; */
  background-color: #002fa7;
  overflow: hidden;
  /* position: absolute; */
  
}

#stack h2 {
  margin: 0% 0%;
  padding: 1% 4%;
  color: white;
  font-size: 0.8em;
  border-bottom: 1px solid white;
}
.cards-list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 36px; /* why this?? */
}

.cards-list li {
  /* border: solid 1px white; */
  /* border-bottom: 1px solid white; */
  color: white;
  list-style: none;
  font-size: 0.7em;
  padding: 0;
  margin: 2px;
}

#hand {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  background-color: #002fa7;
  height: auto;
  border: solid 1px white;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;

}

.hand-opened{
  transition: transform .5s; 
  border: solid 1px white;
  transform: scaleY(1);
}

.hand-closed{
  transition: transform .5s;
  /* border: solid 1px white; */
  transform: scaleY(0);
}

.hand-card {
  border: solid 1px white;
  box-shadow: 4px 4px 4px black;
  background-color: #002fa7;
  color: #fff;
  border-radius: 5px;
  padding: 20px 20px 70px;
  width: 50%;
  margin: auto;
  background-repeat: no-repeat center;
  background-size: 1%;
  animation: bounce .3s 1;
  transform-origin: center;  
}

.hand-card:hover {
  border: solid 2.5px white;
  transition: transform 0.1s;
  transform: scale(1.3);
}

 #hand-card-back {
  border: solid 1px white;
  box-shadow: 1px 1px 1px black;

  background-repeat: no-repeat center;
  background-size: 100%;
  transition: transform .3s;
  transform: rotateY(180deg);
} 

.hand-card concealed {
  transition: transform 0.5s;
  transform: scaleY(0);
}

#avatar {
  /* border: solid 1px white; */
}

#avatar img {
  height: 100%;
  width: 100%;
}

#tip,.life-ui {
  color: white;
  padding: 2px;
  overflow: visible;
}

.life-ui {
  color: white;
  padding: 2px;
  overflow: visible;
  animation: bounce .3s 1;
  transform-origin: center;
}

.start-button,
.restart-button {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  color: #002fa7;
  font-size: 2em;
  height: 60vh;
  width: 90%;
  font-family: "B612", sans-serif;
  text-shadow: 1px 1px 1px black;
  box-shadow: 10px 10px 1px black;
}
.start-button,
.restart-button:hover {
  background-color: #002fa7;
  color: white;
  /* border: none; */
  /* box-shadow: 10px 10px 860px; */
}
.start-button,
.restart-button:active {
  position: relative;
  top: 1px;
  font-family: "B612", sans-serif;
  text-shadow: 1px 1px 1px black;
}

/* .wipe {
	position: relative;
	display: inline-block;
	width: 100vw;
	height: 100vh;
	padding: 20px;
	transition: all 0.5s;

	&:after {
		position: absolute;
		z-index: 9;
		content: '';
		transition: all 0.25s;
	}

	&.wipe-down, &.wipe-up {
		&:after {
			left: 0;
			width: 100%;
			height: 0;
		}
	}


	&.wipe-down {
		background-color: $blue;

		&:after {
			top: 0;
			background-color: $blueHover;
		}
	}

	&:hover:after {
		width: 100%;
		height: 100%;
	}
} */
